<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="./src/PHPassLib.php">
    <php>
        <includePath>./src</includePath>
    </php>
    <testsuites>
        <testsuite name="PHPassLib Tests">
            <directory suffix="Test.php" phpVersion="5.3.8" phpVersionOperator=">=">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./logs/report" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-html" target="./logs/testdox.html" />
    </logging>
</phpunit>